<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>User Create</title>
</head>
<body>
    <h2>User Create</h2>
    <form method="post">
        <input type="text" name="UserName" required autocomplete="off" /><br />
        <input type="email" name="email" required autocomplete="off" /><br>
        <input type="text" name="password" required autocomplete="off" /><br />        
        <input type="submit" value="зарегестрироваться" required autocomplete="off" />
    </form>
</body>
</html>